$action-color:#ff5200;
$blue:#baccd9;
$dark-blue:#236d93;
$dark-blur-panel: #35587e;
$dark-blue-table:#143b4f;
$main-background:#fff;
$footer-color:#013e61;
$propose-panel: #a0daf1;

$dark-border-gray: #ececec;
$dark-gray: #444444;
$light-gray: #f1f1f1;
$icon-gray: #d3d2d2;
$cyan: #63d1bb;
$light-cyan: #d0f1ea;

$active-black: #b2b2b2;
$hover-gray: #c7c7c7;
