$phone_width:56px;
$phone_height:$phone_width;
$animation_delay:6s;

$panel-color:#013e61;

@keyframes help_phone-fadein {
  from { opacity: 0; display: block;}
  to   { opacity: 1; display: block;}
}

@keyframes showEffect {
  0% { display: none; visibility: hidden; opacity: 0; }
  50% { display: none; visibility: hidden; opacity: 0.5; }
  100% { display: block !important; visibility: visible;  opacity: 1; }
}

@keyframes hideEffect {
  0% { display: block; visibility: visible;  opacity: 1; }
  50% { display: block; visibility: visible;  opacity: 0.5; }
  100% { display: none !important; visibility: hidden; opacity: 0; }
}

@keyframes moveEffect {
  0% { transform: translate(-50%, -5000%);}
  100% { transform: translate(-50%, -50%);}
}

@keyframes moveEffectOut {
  0% { transform: translate(-50%, -50%);}
  100% { transform: translate(-50%, -5000%);}
}

.help_phone {
  position: fixed !important;
  z-index: 9000000 !important;
  width: $phone_width !important;
  height: $phone_height !important;
  right: 2%;
  bottom: 5%;
  animation: showEffect $animation_delay;
}

.hideBlockAnimation{
  animation: hideEffect 2s;
  animation-fill-mode: forwards;
}

.showBlockAnimation{
  animation: showEffect 1s;
  animation-fill-mode: backwards;
}

.hideBlockMoveAnimation{
  animation: hideEffect 2s, moveEffectOut 2s;
  animation-fill-mode: forwards;
}

.showBlockMoveAnimation{
  animation: showEffect 1s, moveEffect 1s;
  animation-fill-mode: backwards;
}


.help_phone_future, .help_phone_future:after, .help_phone_future:before {
  vertical-align: baseline !important;
  font-weight: 300 !important;
  font-family: inherit !important;
  font-style: inherit !important;
  font-size: 100%;
  border: 0 none !important;
  outline: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  font-family: 'Roboto',sans-serif !important;
  line-height: normal !important;
  box-sizing: content-box !important;
  text-align: left !important;
  transform-origin: center;
  background-position: 0 0;
  background-repeat: repeat;
  content: none;
}

.help_phone_future--button_call_background {
  border-radius: 100px !important;
  width: $phone_width !important;
  height: $phone_height !important;
  opacity: .92 !important;
  position: absolute !important;
  cursor: pointer !important;
}

.help_phone_future--button_call {
  position: fixed !important;
  z-index: 9000000 !important;
  width: $phone_width !important;
  height: $phone_height !important;
  user-select: none;
  border-radius: 100px !important;
}

@keyframes help_phone_future_button_underlay{
  0%{opacity:0;width:0;height:0;margin-top:0;margin-left:0}
  20%{opacity:.35;width:$phone_width*2;height:$phone_height*2;margin-top:-$phone_height;margin-left:-$phone_width}
  75%{opacity:.35;width:$phone_width*2;height:$phone_height*2;margin-top:-$phone_height;margin-left:-$phone_width}
  100%{opacity:0;width:$phone_width*3;height:$phone_height*3;margin-top:-$phone_height*3/2;margin-left:-$phone_width*3/2}
}


.help_phone_future--button_call_ubderlay {
  border-radius: 100px !important;
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  width: 0 !important;
  height: 0 !important;
  margin: -69px 0 0 -69px !important;
  background: #88d6ff !important;
  opacity: 0;
  animation: help_phone_future_button_underlay 8s infinite !important;
  animation-delay:$animation_delay;
}

@keyframes help_phone_future_button_phone{
  47%{transform:rotate(0deg)}
  50%{transform:rotate(15deg)}
  53%{transform:rotate(0deg)}
  54%{transform:rotate(15deg)}
  57%{transform:rotate(0deg)}
  60%{transform:rotate(15deg)}
  63%{transform:rotate(0deg)}
  66%{transform:rotate(15deg)}
  69%{transform:rotate(0deg)}
  72%{transform:rotate(15deg)}
  75%{transform:rotate(0deg)}
}

.help_phone_future--button_call_phone {
  width: $phone_width !important;
  height: $phone_height !important;
  background-image: url('../img/phone.png');
  background-position: center center !important;
  background-size: 60%;
  background-repeat: no-repeat !important;
  position: absolute !important;
  animation: help_phone_future_button_phone 5s infinite !important;
  cursor: pointer !important;
  animation-delay:$animation_delay;
}

.deep_blue_background {
  background: #0e8bff;
  background: radial-gradient(ellipse at center,#0e8bff 0,#568eff 100%);
}

.ubderlay_deep_water_background {
  background: #b3d3ff !important;
}


.phone_future--form{
  display: none;
  position: absolute;
  left:50%;
  top:50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 350px !important;
  width: 300px !important;
  position: fixed !important;
  z-index: 10000000005 !important;
  @include clearfix();
  filter: drop-shadow(10px 10px 5px #263d45);
}

.phone_future--form--header {
  position: relative;
  color: white;
  height: 30px !important;
  text-align: center !important;
  margin-left: 70px;
  margin-right: 30px;
  background-color: $panel-color;
  filter: drop-shadow(-1px -1px 1px white);
}
.phone_future--form--header::after,
.phone_future--form--header::before{
  top:0px;
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
.phone_future--form--header::before{
  left: -30px;
  border-width: 0 0 30px 30px;
  border-color: transparent transparent $panel-color transparent;
}

.phone_future--form--header::after{
  right: -30px;
  border-width: 30px 30px 0 0;
  border-color: $panel-color transparent transparent transparent;
}

.phone_future--form--header--close {
  position: absolute !important;
  right: 0px !important;
  top: 6px !important;
  width: 14px !important;
  height: 14px !important;
  background-image: url('../img/close.png');
  cursor: pointer !important;
  border: 1px solid white;
  border-radius: 50%;
}

.phone_future--form--left-icons {
  height: 166px !important;
  width: 51px !important;
  margin-left: 16px !important;
  padding-top: 1px !important;
  float: left !important;
}

.phone_future--form--tabs{
  width:40px;
  height: 100%;
  float: left;
  filter: drop-shadow(-1px -1px 1px white);
}

.phone_future--form--tab{
  display: inline-block;
  text-align: center;
  position: relative;
  width:100%;
  height: 20px;
  margin-top: 40px;
  background-color: #013e61;
  cursor: pointer;
  clip-path: polygon(-1px -1px,41px -41px,41px 21px,-1px 61px);
}
.phone_future--form--tabs:first-child{
  margin-top: 30px;
}
.phone_future--form--tab::before{
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 40px;
  border-color: transparent transparent $panel-color transparent;
}
.phone_future--form--tab img{
  display: block;
  position: absolute;
  left: 5px;
  top:-5px;
  max-width: 30px;
  z-index: 5;
}

.phone_future--form--tab::after{
  content: "";
  display: block;
  position: absolute;
  bottom: -40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 40px 0 0 ;
  border-color: $panel-color transparent transparent transparent;
}

$line-color: #003655;

.phone_future--content{
  background-color: $panel-color;
  height: 100%;
  margin-left: 40px;
  margin-right: 30px;
  border-bottom: 3px solid $line-color;
  border-right: 3px solid $line-color;
  border-top: 3px solid $line-color;
  border-left: 3px solid $line-color;
  border-bottom-right-radius:30px;
  overflow-y: hidden;
  padding: 2px;
}
.content-tab{
  overflow-y: hidden;
}
.content-tab p{
  margin: 0px;
  margin-bottom: 5px;
  color: white;
  font-size: 15px;
}
.content-tab .formBtn {
  width: 45%;
  display: inline-block;
  background: #2b74a6;
  color: #fff;
  font-weight: 100;
  font-size: 15px;
  border: none;
  height: 30px;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #3fb8f5 #000 #184d69;
  border-radius: 6px;
  background: linear-gradient(#31a3dd, #254974) #2b74a6;
  transition: 0.2s;
  margin-top: 5px;
}

.content-tab input{
  width: 90%;
  display: block;
  margin: 5px auto 0px auto;
  border-radius: 5px;
}

.content-tab textarea{
  width: 90%;
  display: block;
  margin: 5px auto 0px auto;
  height: 100px;
  margin-top: 5px;
  border-radius: 5px;
}
.content-tab select{
  display: block;
  margin: 5px auto 0px auto;
  height: 70px;
  width: 90%;
  border-radius: 5px;
  white-space:pre-wrap;
}

.phone_future--content .content-tab{
  height: 100%;
}


@keyframes tab-fadein {
  from { height: 0%;}
  to   { height: 100%;}
}
@keyframes tab-fadeout {
  from { height: 100%;}
  to   { height: 0%;}
}

.activeToggle{
  background-color: #2b74a6;
  &:after{
    border-color: #2b74a6 transparent transparent transparent;
  }
  &:before{
    border-color: transparent transparent #2b74a6 transparent;
  }
}

.fadeInAnimation{
  animation: tab-fadein 1s;
  animation-fill-mode: backwards;
}

.fadeOutAnimation{
  animation: tab-fadeout 1s;
  animation-fill-mode: forwards;
}
